.faq{
    background: #090D14;
    padding: 60px 0 30px 0;
    min-height: 300px;
    &__line{
        margin: 40px 0 0 0;
    }
    .tabs__wrapper{
        display: flex;
        margin: 130px 0 0 0;
        align-items: center;
        justify-content: center;
        width: 100%;
        
        .faq__btns-wrapper{
            width: 100%;
            .faq__btns{
                display: flex;
                flex-direction: column;
                .faq__btn{
                    width: 500px;
                    height: 70px;
                    border-radius: 10px;
                    border: none;
                    background: none;  
                    position: relative;
                    padding: 0px 30px;
                    cursor: pointer;
                    margin: 5px 0;
                    div{
                        display: flex;
                        justify-content: flex-start;
                    }          
                }
                .faq__btn-deactive::after{
                    position: absolute;
                    top: 68px;
                    left: 25px;
                    content: '';
                    width: 450px;
                    height: 2px;
                    border-bottom: 1px solid #21242E;       
                }
                .faq__btn-deactive{
                    .tab-pointer {
                        flex-direction: column;
                        position: absolute;
                        top: 35px;
                        right: 30px;
                        span{
                            width: 8px;
                            height: 1px;
                            background: rgb(53, 53, 53);
                            &:first-child{
                                transform: rotate(0.09turn) translateX(-3px);
                            }
                            &:last-child{
                                transform: rotate(-0.09turn)translateX(-3px);
                            }

                        }
                    }
                }
                .faq__btn:hover:before{
                    content:"";
                    position:absolute;
                    top:0;
                    left:0;
                    right:0;
                    bottom:0;
                    border-radius:10px; 
                    padding:1px; 
                    background:linear-gradient(135deg, rgb(29, 203, 58) 12%, rgb(123, 6, 248) 100%);
                     -webkit-mask: 
                        linear-gradient(#fff 0 0) content-box, 
                        linear-gradient(#fff 0 0);
                     -webkit-mask-composite: destination-out; 
                     mask-composite: exclude; 
                }
                .faq__btn:hover{
                    background: linear-gradient(135deg, rgba(29, 203, 58, 0) 12%, rgba(123, 6, 248, 0.185) 100%);
                }
                .faq__btn:hover::after{
                    border-bottom: none;   
                }

                .faq__btn-active{
                    width: 500px;
                    height: 70px;
                    border-radius: 10px;
                    border: none; 
                    position: relative;
                    padding: 0px 30px;
                    cursor: pointer;
                    background: linear-gradient(135deg, rgba(29, 203, 58, 0) 12%, rgba(123, 6, 248, 0.185) 100%);
                    div{
                        display: flex;
                        justify-content: flex-start;
                    }
                    .tab-pointer {
                        flex-direction: column;
                        position: absolute;
                        top: 35px;
                        right: 30px;
                        span{
                            width: 8px;
                            height: 1px;
                            background: #fff;
                            &:first-child{
                                transform: rotate(0.09turn) translateX(-3px);
                            }
                            &:last-child{
                                transform: rotate(-0.09turn)translateX(-3px);
                            }

                        }
                    }
                    
                }
                .faq__btn-active:before{
                    content:"";
                    position:absolute;
                    top:0;
                    left:0;
                    right:0;
                    bottom:0;
                    border-radius:10px; 
                    padding:1px; 
                    background:linear-gradient(135deg, rgb(29, 203, 58) 12%, rgb(123, 6, 248) 100%);
                     -webkit-mask: 
                        linear-gradient(#fff 0 0) content-box, 
                        linear-gradient(#fff 0 0);
                     -webkit-mask-composite: destination-out; 
                     mask-composite: exclude; 
                }
            }
        }
        .items__wrapper{
            width: 100%;
            color: #fff;
            .faq__items{
                display: flex;
                flex-direction: column;
            }
        }
    }
    .tab-title{
        font-size: 24px;
    }
    .tab-text{
        display: block;
        font-size: 16px;
        margin: 24px 0;
        padding: 0 50px 0 0;
    }
}
.hide{
    display: none;
}
.show{
    display: block;
}