.main{
    background: url(../img/background.png)0% 12% /cover no-repeat;
    height: 600px;
    &__wrapper{
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 30px;
        display: flex;
        padding-top: 140px;
        height: 500px;
    }
    .main__item{
        position: relative;
        .title__main{
            font-size: 50px;
            text-transform: uppercase;
            line-height: 58px;
            max-width: 500px;
            margin: 0 0 30px 0;
            
        }
        .main__image{
            position: absolute;
            width: 830px;
            top: -200px;
            left: -130px;
            z-index: 1;
            img{
                width: 100%;
            }
        }
        .main__button{
        
        }
        
    }
}