@media (max-width: 1280px){

    .header{
        font-size: calc(5px + 8 * (100vw / 1280));
        &__items{
            display: flex;
            justify-content: space-between;
            padding: 15px 0 15px 0;
        }
        &__links{
            display: flex;
            padding: 0 0 0 0px; 
            margin: 0 0 0 150px; 
        }
        .links{
            margin: 0 10px;
   
    }}



    .faq .tabs__wrapper .faq__btns-wrapper .faq__btns{
        margin: 0 30px 0 0;}


    .main{
        background: url(../img/background.png)0% 12% /cover no-repeat;
        height: 600px;
        // width: 100vw;
        &__wrapper{
            // max-width: 1280px;
            margin: 0 auto;
            padding: 0 30px;
            display: flex;
            padding-top: 150px;
            height: 500px;
        }
        .main__item{
            width: 100%;
            
            .title__main{
                font-size: calc(25px + 25 * (100vw / 1280));
                text-transform: uppercase;
                line-height: 58px;
                width: 100%;
                height: 120px;
                margin:0 0 100px 0;
                
            }
            .main__image{
                z-index: 1;
                min-width: calc(400px + 300 * (800px / 1280));
                margin: 10% 30px 0 0;
                img{
                    margin-top: 30px;
                }
            }
            .main__button{
            
            }
            
        }
    }
    .second__wrapper{
        padding: 0 10px;
    }
    .second__line{
        margin: 0;
    }
    .second{
        .info-image{
            width: 100%;
            position:static;
            margin: 50px 0 0 0;
        }
        .top{
            .info__text-wrapper{
                margin: 50px 0 0 0;
                padding: 0 0 0 80px;
            }
        }
        .down{
            .info__text-wrapper{
                margin: 0 0 0 0px;
                padding: 0 0 0 80px;
            }
        }
    }
    .faq{
        padding-top:0px;
    }
    .faq__tab{
        // padding: 0 30px;
    }
    .content{
        display: none;
    }
    
    
}

@media (max-width: 992px){

    .header__burger{
        font-size: calc(14px + 8 * (100vw / 1280));
        .links{
            margin: 0 0 20px 0;
        }
    }
    // .header__openMenu{
    // }
    #header{
        transition: all 0.3s ease;
        .show{
            display: block;
            }
    }



    .main .main__item .main__image{
        min-width: calc(400px + 200 * (300px / 992));
        margin: 50px 0 0 0;
    }

    .main .main__item .title__main{
        font-size: calc(16px + 24 * (100vw / 1280));
        line-height: 40px;
        width: 100%;
        margin:0 0 30px 0;
        padding: 0 30px 0 0;
                
    }

    
    .faq{
        height: auto;
    }
    .faq .tabs__wrapper{
        flex-direction: column;
        margin: 0px 0 0px 0;
        height: 500px;
    }
    .faq .tabs__wrapper .faq__btns-wrapper .faq__btns .faq__btn-deactive::after{
        position: static;
    }
    .faq .tabs__wrapper .items__wrapper .faq__items{
        
        padding: 50px 50px;
    }
    .faq .tabs__wrapper .faq__btns-wrapper .faq__btns{
        margin: 0 10px 0 0;
        flex-direction: row;
    }
    .faq .tabs__wrapper .faq__btns-wrapper .faq__btns .faq__btn-active{
        width: 480px;
    }
    .faq .tabs__wrapper .faq__btns-wrapper .faq__btns .faq__btn{
        width: 480px;
    }
    .faq .tabs__wrapper .faq__btns-wrapper .faq__btns .faq__btn-active .tab-pointer{
        display: none;
    }
    .faq .tabs__wrapper .faq__btns-wrapper .faq__btns .faq__btn-deactive .tab-pointer{
        display: none;
    }
    .faq .tabs__wrapper .faq__btns-wrapper .faq__btns .faq__btn .text{
        font-size: calc(12px + 2 * (100vw / 992));
    }
    .tab__item{
        min-height: 300px;
    }
    

}




@media (max-width: 767px){
.content{
    display: none;
}
.main__wrapper{
    padding: 30px 0 0 0;
    align-items: center;
}
.main__image-wrapper{
    height: 100%;
}
.main .main__item{
    position: relative;
    overflow: hidden;
    
    .main__image{
        min-width: 600px;
        // height: 100%;
    }
    img{
        position: absolute;
        right: -100px;
        top: 100px;
        width: 100%;
    }
}
.info{
    padding: 0 0 100px 0;
}
.second .info__row{
    height: auto;
}
.second .info__text-wrapper{
    width: auto;
}
.second .down .info__text-wrapper{
    margin: 0;
    padding: 0;
 
}
.second .top{

margin: 0 0 50px 0;
flex-wrap: wrap;
    .info__text-wrapper{
        margin: 30px 0 0 0;
    }
    .info__item{
        margin: 0 0 0px 0;
        .info-image{
            height: 100%;
        }

        img{
            
            position: static;
            top:50px;
            left: -50px;
            max-width: 100%;
        }
    }
}

.second .down{
    flex-wrap: wrap;
    flex-direction: column-reverse;
    .info__text-wrapper{
        padding: 0 0 0 80px;
    }
    .info__item{
        .info-image{
            height: 100%;
            margin: 10px 0 50px 0;
        }
        img{
            // position: absolute;
            top:50px;
            left: -50px;
            max-width: 100%;
        }
    }
}

.faq .tabs__wrapper{
    margin: 100px 0 0 0;
}

.faq .tabs__wrapper .faq__btns-wrapper .faq__btns{
    margin: 0;
}
.faq .tabs__wrapper .faq__btns-wrapper .faq__btns .faq__btn{
    height: 100px;
    width: 100%;
    padding: 0;
}


.main .main__item .title__main{
    font-size: calc(16px + 24 * (100vw / 992));
    line-height: 40px;
    width: 100%;
    margin:0 0 30px 0;
    padding: 0 0px 0 0;
            
}


.footer-row .footer__item{
    margin: 10px 0;
    align-items: center;
    
}
.main__title-wrapper{
    padding: 0 0 0 30px;
}
.footer-row{
    flex-direction: column;
    align-items: center;
}
.footer-row .footer__item .footer__links{
    margin: 0;
    text-align: center;
    font-size: calc(16px + 2 * (100vw / 992));
}
.footer-row .footer__item .footer__link{
    margin: 0 10px;
}
.footer-row .footer__item .copyright{
    margin: 0 0 20px 0;
    text-align: center;
}
}

@media (max-width: 480px){

}

// адаптивный шрифт
// 40px, 24px это условные шрифты
// font-size: calc(24px + 16 * (100vw / 1280))
// 24px это оптимальный шрифт намобильных утройствах 
// 16px это 40px - 24px 40px это набоьших экранах
// при разрешении ниже 767px нужно отнять 320px от 100vw и добавить 70% от 16
// font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 320px) / 1280))