.second{
    background: #090D14;
    padding: 60px 0 30px 0;
    &__wrapper{
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 30px;
    }
    &__line{
        margin: 0px 0 50px 0;
    }
    .info-title{
        font-size: 24px;
        width: 320px;
    }
    .info-text{
        font-size: 16px;
        font-weight: 300;
    }
    .info__row{
        display: flex;
        justify-content: center;
        position: relative;
        height: 400px;
    }
    .info__item{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .info-image{
        width: 800px;
        height: 500px;
        position: absolute;
    }
    .info__text-wrapper{
        width: 416px;
        height: 200px;
    }
    .top{
        .info-title{
            margin: 0 0 24px 0;
        }
        .info-text{
            font-size: 16px;
            font-weight: 300;
        }
        .info-image{
            top: -100px;
            left: -127px;
        }
        .info__text-wrapper{
            margin: 0 0 0 100px;
        }
    }
    .down{
        .info__item{
            align-items: center;
        }
        .info-title{
            margin: 0 0 24px 0;
        }
        .info-text{
            font-size: 16px;
            font-weight: 300;
        }
        .info-image{
            top: -100px;
            right: -30px;
        }
        .info__text-wrapper{
            margin: 0 0px 0 30px;
            padding: 0 30px 0 0;
        }
    }
}