@import "normalize.scss";
@import "header.scss";
@import "content.scss";
@import "footer.scss";
.wrapper{
min-height: 100%;
display: flex;
flex-direction: column;
position: relative;
}
.title{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 500;
}
.text{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 400;
}
