@import "normalize.scss";
@import "header.scss";
@import "main.scss";
@import "second.scss";
@import "footer.scss";
@import "faq.scss";
.wrapper{
height: 100%;
display: flex;
flex-direction: column;
position: relative;
}
.title{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 700;
    display: block;
}
.text{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 400;
}
.line{
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, rgba(81, 73, 122, 0) 0%, rgba(33, 36, 55, 0.63) 49%, rgba(33, 36, 55, 0) 100%);
}
// сделать отимизацию для 1900px!